{% extends "base.html" %}
{% load static %}
{% block contenido %}
 <!-- Page Title -->
 <div class="page-title dark-background">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">Service Details</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{% url 'inicio' %}">Home</a></li>
        <li class="current">Service Details</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<!-- Service Details Section -->
<section id="service-details" class="service-details section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="services-list">
          <a href="#" class="active">Diseño Web</a>
          <a href="#">Desarrollo de Software</a>
          <a href="#">Gestión de Productos</a>
          <a href="#">Diseño Gráfico</a>
          <a href="#">Marketing</a>
        </div>

        <h4>Para los que están interesados </h4>
        <p>Estámos siempre trabajando para mejorar y facilitar la vida de nuestros clientes por eso siempre recomendamos contactar con nosotros.</p>
      </div>

      <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
        <img src="{% static 'img/services.jpg' %}" alt="" class="img-fluid services-img">
        <h3>Calidad, Confíanza y Seguridad</h3>
        <p>
          Nos representa la seriedad y compromiso con los clientes.
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> <span>Servicio Técnico / Mantenimiento.</span></li>
          <li><i class="bi bi-check-circle"></i> <span>Tecnología / Electrónica.</span></li>
          <li><i class="bi bi-check-circle"></i> <span>Servicios Especiales / Personalizados</span></li>
        </ul>
        <p>
          Soluciones adaptadas a tu presupuesto.

          Opciones personalizadas según tus preferencias.
          
          Atención especial para clientes frecuentes o empresas.
        </p>
        <p>
          Asistencia rápida por WhatsApp, teléfono o correo.

Trato directo y cercano.

Resolución efectiva de consultas y reclamos.

.
        </p>
      </div>

    </div>

  </div>

</section><!-- /Service Details Section -->
{% endblock contenido %}